name: Deploy React App

on:
  push:
    branches:
      - main # Trigger deployment on push to 'main' branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Upload pages artifacts
        uses: actions/upload-pages-artifact@v1
        with:
          path: build

      - name: Deploy
        uses: actions/deploy-pages@v1
